<% flash.each do |name, message| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
    <button type="button" class="close" data-dismiss="alert">
      <i class="fa fa-times"></i>
    </button>

    <% if message.is_a?(Array) %>
      <ul>
        <% message.each do |single_message| %>
          <li><%= single_message.html_safe %></li>
        <% end %>
      </ul>
    <% else %>
      <%= message.html_safe %>
    <% end %>
  </div>
<% end %>
